div(class="fixed-bottom")
  footer
    div(class="text-center")
      p(class="text-muted") Game created by Michael McDevitt
    script(type='text/javascript', src='/static/js/helpers.js')
    script(type='text/javascript', src='/static/js/jq.js')
    script(type='text/javascript', src='/static/js/template.js')
    script(type='text/javascript', src='/static/js/model.js')
    script(type='text/javascript', src='/static/js/view.js')
    script(type='text/javascript', src='/static/js/controller.js')
    script(type='text/javascript', src='/static/js/app.js')
