doctype html
html(lang="en")
  head
    title The Final Guess
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/static/stylesheets/styles.css')
    link(href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet")
  body
    include partials/header.pug
    block content
    include partials/footer.pug